body {
  background-color: white;
  font-family: sans-serif;
  padding: 20px;
  margin: 0%;
  overflow-y: scroll;
}

.icon-menu {
  width: 30px;
  height: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: white;
}

.header #logo {
  width: 150px;
}

nav {
  float: left;
  background-color: white;
  margin: 0%;
  padding: 0%;
}

img {
  width: 200px;
}

#iframe {
  float: left;
  position: fixed;
  margin: 50px 20px 20px 100px;
  width: 100%;
}

.lateral-bar {
  border-color: black;
  margin: 50px 10px 20px 80px;
}

.lateral-img {
  margin: 10px 10px 10px 0;
}

.iframe-bar {
  display: inline;
  margin: 50px 0 20px 80px;
}

.container {
  display: flex;
  background-color: white;
  justify-content: center;
}

.search-boton {
  width: 100px;
  height: 36px;
  margin-left: 0;
  padding-left: 0%;
  border-right: 1%;
  border-left: 0;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: solid lightgray;
}

.search-box {
  width: 400px;
  height: 30px;
  margin-right: 0%;
  padding-right: 0%;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid lightgray;
}

.box {
  display: flex;
  gap: 1rem;
}

.box p {
  font-size: 1rem;
  font-weight: 500;
}
